<app-header></app-header>
<form action="" [formGroup]="registerForm" (ngSubmit)="register()">
    <h4 class="text-center pb-5 pt-3">Register</h4>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email </label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email" formControlName="email" required>
        <ng-container *ngIf="emailValidation?.invalid && submitbtn || emailValidation?.touched">
            <span class="text-danger px-3" *ngIf="emailValidation?.errors?.['required']">Email Required...</span>
        </ng-container>
        
      </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="{{passwordFieldType}}" class="form-control" id="formGroupExampleInput2" placeholder="Password" formControlName="password" required>
        <div class="d-flex">
            <input type="checkbox" (click)="togglePassword()"><p class="pt-3 ps-2">Show Password</p>
        </div>
        <ng-container *ngIf="passwordValidation?.invalid && submitbtn || passwordValidation?.touched">
            <span class="text-danger px-3 " *ngIf="passwordValidation?.errors?.['required']">password Required...</span>
            <span class="text-danger px-3 " *ngIf="passwordValidation?.errors?.['minlength']">password minimmum length 6...</span>
        </ng-container>
    </div>
    <div class="mb-3">
        <div class="d-flex">
        <label for="" class="form-label pt-3">Gender :</label>
        <input type="radio" name="gender" class="ms-3 me-1" formControlName="gender" value="male" required><p class="pt-3">Male</p>
        <input type="radio" name="gender"class="ms-3 me-1" formControlName="gender"value="Female" required><p  class="pt-3 ">Female</p>
       </div>
       <ng-container *ngIf="genderValidation?.invalid && submitbtn || genderValidation?.touched">
        <span class="text-danger px-3" *ngIf="genderValidation?.errors?.['required']">Gender Required...</span>
    </ng-container>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>